<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706057404434-o37t3g59eodvfbr6kqc6banpe9ue3i20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706057404434-o37t3g59eodvfbr6kqc6banpe9ue3i20</string>
	<key>API_KEY</key>
	<string>AIzaSyAjR5g9PhPFaHUb-bPxpH9wuO6atddWXg8</string>
	<key>GCM_SENDER_ID</key>
	<string>706057404434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shekel</string>
	<key>PROJECT_ID</key>
	<string>shekel-41250</string>
	<key>STORAGE_BUCKET</key>
	<string>shekel-41250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706057404434:ios:7329d19f829f17234618cb</string>
</dict>
</plist>